.formTaker-Expansion{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2vh auto;
 }
 .buttn{
    width: 50%;
    margin: 2vh auto;
 }
 .cardContainer{
    display: flex;
    flex-wrap: wrap;
  }
 .card{
    width: 210px;
    margin: 12px;
  }
 
 .pagination{
    position: absolute;
    margin-top: 30px;
    margin-bottom: 60px;
    right: 20px;
  }
  .button-pos{
     position: relative;
     margin: 2vh auto;
  }

  .formTaker-Expansion{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 0%;
    margin: 2vh auto;
    height:20%;
    margin-bottom: 0%;
    background-color: rgb(202, 106, 138);
  }
  .buttn{
    width: 50%;
    margin: 2vh auto;
    background-color: rgb(54, 61, 168);
  }
  .cardContainer{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    flex-wrap: wrap;
    background-color: rgb(43, 98, 180);
  }
  .card{
    width: 200px;
    margin: 15px;
  }
  .pagination{
    position: absolute;
    margin-top: 30px;
    margin-bottom: 60px;
    right: 20px;
     background-color: rgb(90, 70, 76);
  }
  .button-pos{
     position: relative;
     margin: 2vh auto;
  }
  
  